<?xml version="1.0"?>
  <robot
      xmlns:xacro="http://www.ros.org/wiki/xacro" name="delta" >
  <xacro:arg name="robot_name" default="delta" />
  <xacro:arg name="module_visual_mesh_ext" default="stl" />
  <xacro:arg name="module_use_link_collision" default="true" />
  <xacro:arg name="module_use_rotor_collision" default="false" />

  <xacro:include filename="$(find delta)/robots/quad/module_20260809/delta.urdf.xacro" />

  <!-- gazebo plugin for default controller and sensors -->
  <xacro:include filename="$(find aerial_robot_simulation)/xacro/spinal.gazebo.xacro" />
  <xacro:gazebo_spinal robot_name="$(arg robot_name)" mag_frame="fc" />

</robot>
